<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Find the gender predictions based on first name.">
    <meta name="author" content="Mohil Khare & Harsh Katkade">
    <meta name="keywords" content="Gender Finder">

    <!-- Title Page-->
    <title>GenderFinder</title>

    <!-- Icons font CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/mdi-font/css/material-design-iconic-font.min.css') }}" media="all">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/font-awesome-4.7/css/font-awesome.min.css') }}" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/select2/select2.min.css') }}" media="all">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/datepicker/daterangepicker.css') }}" media="all">

    <!-- Main CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" media="all">
</head>

<body>
    <div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
        <div class="wrapper wrapper--w780">
            <div class="card card-3">
                <div class="card-heading"></div>
                <div class="card-body">
                    <h2 class="title">Gender Classifier</h2>
                    <form action="{{ url_for('predict') }}"method="post">
                        <div class="input-group">
                            <input class="input--style-3" type="text" placeholder="Name" name="name">
                        </div>
                        <div class="p-t-10">
                            <centre><button class="btn btn--pill btn--green" type="submit">Submit</button></centre>
                            <br />
                            <br />
                            <font color = "white">{{ prediction_text }}</font>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <!-- Vendor JS-->
    <script src="{{ url_for('static', filename='vendor/select2/select2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/datepicker/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/datepicker/daterangepicker.js') }}"></script>

    <!-- Main JS-->
    <script src="{{ url_for('static', filename='js/global.js') }}"></script>

</body>

</html>